body {
    font-family: "Poppins", sans-serif;
}

.handwave {
    animation-name: handwave;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

.heartbeat {
    animation: heartbeat 2s infinite;
}

@keyframes handwave {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(-10.0deg)
    }

    20% {
        transform: rotate(12.0deg)
    }

    30% {
        transform: rotate(-10.0deg)
    }

    40% {
        transform: rotate(9.0deg)
    }

    50% {
        transform: rotate(0.0deg)
    }

    100% {
        transform: rotate(0.0deg)
    }
}

@keyframes heartbeat {
    0% {
      transform: scale(0.75);
    }

    25% {
      transform: scale(1);
    }

    50% {
      transform: scale(0.75);
    }

    75% {
      transform: scale(1);
    }

    100% {
      transform: scale(0.75);
    }
  }